@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

main{
    background: url(https://img.freepik.com/free-photo/blurred-pop-abstract-background-pink_58702-1659.jpg?w=900&t=st=1668766356~exp=1668766956~hmac=fd56e024d695046db4ead376bc2a2dce0dd0667076f4debbbad25a4837bdd01c) center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header{
    background-color: yellowgreen;
    text-align: center;
    color: whitesmoke;
    margin: 0;
    text-shadow: 15px;
    padding: 10px 10px;
    max-width: 100%;
    border: 20px;
    font-size: 30px;



}

main div{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 50px 20px;
    max-width: 100%;
    width: 800px;
    text-align: center;
}

h3{
    margin: 0;
    letter-spacing: 2px;
    opacity: 0.5;
}

.joke{
    font-size: 30px;
    color: black;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.btn{
    background-color: pink;
    padding: 10px 10px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    color:white;
    cursor: pointer;
    font-size: 16px;
}
.btn:active{
    transform: scale(2);
}